body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: yellow;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.allproduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
}

#button{
    background: #e67e22;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background 0.3s;
}

.button{
    background: #0dd24e;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background 0.3s;
}

.contain{
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
}

.payment{
    margin-top: 15px;
}

.option:hover{
    background-color: #f1f1f1;
    cursor: pointer;
    border: black;
    background-position: 0%;
}

.option img{
    max-width: 100px;
    height: auto;
}

.option{
    border-radius: 10%;
}